@charset "UTF-8";

/* @charset, UTF--> 배포시 깨짐 방지를 위해 적어줘야함, 세미콜론 필수 */

.약::after {
    content: "";
    clear: both;
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

.어떤마을 {
    background-color: #A6FF96;
    padding: 20px;
}

.어떤마을 .놀부 {
    background-color: #DBC4F0;
    padding: 20px;
}

.어떤마을 .놀부 .자식 {
    background-color: #FFA41B;
    float: left;
}

.어떤마을 .놀부 .자식.하나 {}

/* 띄워쓰기는 약속이고, 붙이는건 자식이면서 하나라는 의미(.자식.하나=.하나) */
.어떤마을 .놀부 .자식.둘 {}

.어떤마을 .놀부 .자식.셋 {}

.어떤마을 .놀부 .자식.넷 {}

.어떤마을 .놀부 .효자 {
    clear: both;
}

.어떤마을 .흥부 {
    background-color: #525FE1;
    margin-top: 30px;
    padding: 20px;
}

/* 마진:바깥 공간, 패딩:안쪽 공간 */
.어떤마을 .흥부:hover {
    color: blue;
}

/* hover(가상클래스) 흥부에 마우스 올리면 색 바뀜 */
.어떤마을 .흥부::before {
    content: "";
}

/* ::before(가상요소)와 ::after(가상요소)는 content와 세트
 태어날때부터 inline(글자와 같은 성질)요소를 가짐
 공간을(넓이/높이)인식 못함)
 clear:both는 부모가 공간을 인식하지 못할때 인식할수 있도록함. 
 단, clear:both는 bolck(부모의 요소를 다 차지함)요소일때만 실행됨.)를 가짐 */

.어떤마을 .흥부 .자식 {
    background-color: #F9F3CC;
    float: left;
}

.어떤마을 .흥부 .자식.하나 {}

.어떤마을 .흥부 .자식.둘 {}

.어떤마을 .흥부 .자식.셋 {}

.어떤마을 .흥부 .자식.넷 {}

.칠부 {
    background-color: #6066c6;
    margin-top: 30px;
    padding: 20px;
}

.칠부 .자식 {
    background-color: #ed3384;
    float: left;
}

.칠부 .자식.하나 {}

.칠부 .자식.둘 {}

.칠부 .자식.셋 {}

.칠부 .자식.넷 {}