*{margin: 0;padding: 0;}

.clearfix::after/* 인라인 */{content: "";clear: both; display: block;}
/* 실무에서는 clear로 쓰는 곳도 많음 */
/* clear로 쓸 땐 놀부 옆에도 clear로 바꿔주기 */
.전체{width: 1000px;margin: 0 auto; background-color: #f00000;}  
.놀부{background-color: #316a2e;}  
.놀부>div{float: left;height: 100px;width: 33.3333%;text-align: center;/* 글씨 가운데 */}



.흥부{background-color: #d9f694;}  

